.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work_resume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_text {
  transform: rotate(90deg);
}

.contact_text {
  transform: rotate(-90deg);
}
