span {
  white-space: pre;
}

body {
  font-family: 'Lato', sans-serif !important;
  color: #3c3c3e !important;
  background-color: #fefefe !important;
}

/*@media only screen and (max-width: 769px) {
  /* For mobile phones: */

/*[class*="col-"] {
    max-width: 100% !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex: 0 0 100% !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
  }
}*/

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
}

.about:hover,
.about:active,
.about:focus,
.about:visited {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
}

.main_page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 2%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
}

.contact:hover,
.contact:active,
.contact:focus,
.contact:visited {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
}

.work_resume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about_text {
  transform: rotate(90deg);
  font-weight: 900;
}

.contact_text {
  transform: rotate(-90deg);
  font-weight: 900;
}

.letter {
  position: relative;
  display: inline-block;
  letter-spacing: normal;
}

.work {
  width: 90vw;
  display: flex;
  justify-content: center;
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
}

.work:hover,
.work:active,
.work:focus,
.work:visited {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
}

.portfolio_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  letter-spacing: 0.25em;
  font-weight: 300;
}

.margin_bottom_20 {
  margin-bottom: 20px;
}

.padding_right_5 {
  padding-right: 5px;
}

.my_name {
  margin-bottom: 20px;
  font-weight: 700;
}

.personal_description {
  color: #c5ff00;
  font-size: 3.5vw;
  line-height: 1.2em;
  padding-top: 5vh;
  padding-left: 5vw !important;
  padding-right: 5vw;
  padding-bottom: 5vh;
  text-transform: uppercase;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top left;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 0.4em;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2vh;
}

.nav_item {
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
  transform: rotate(90deg);
  letter-spacing: 5px;
  font-size: 1.2em;
  text-align: center;
}

.nav_item:hover,
.nav_item:focus,
.nav_item:active,
.nav_item:visited {
  font-weight: 900;
  color: #3c3c3e;
  text-decoration: none;
  transform: rotate(90deg);
}

.giphy {
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 7px solid #c5ff00;
}

.contact_details {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 14px;
  letter-spacing: 0.25em;
  font-weight: 300;
  padding-left: 5vw;
  padding-bottom: 5vh;
}

.contact_title {
  font-weight: 900;
  letter-spacing: 10px;
  padding-top: 20px;
}

.resume_object {
  height: 100%;
  width: 100%;
  max-width: 1000px;
}

.beevr_container {
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url("./assets/student_dark copy.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
}

.genie_container {
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url("./assets/james-newcombe-350779 (1).jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
  background-size: cover;
  text-align: center;
}

.nourish_container {
  height: 100vh;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-image: url("./assets/olenka-kotyk-75206 (1).jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
  background-size: cover;
  text-align: center;
}

.left_container {
  height: 100vh;
}

.project_description {
  color: #c5ff00;
  /*font-size: 3.5vw;
  line-height: 1.2em;*/
  padding-top: 5vh;
  padding-left: 5vw !important;
  padding-right: 5vw;
  padding-bottom: 5vh;
  text-transform: uppercase;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  transform-origin: top left;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: overlay;
}

.image_link {
  margin: auto;
  color: #c5ff00;
  font-size: 3.5vw;
  line-height: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 0.4em;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
}

.nav_item_container {
  margin: auto;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

.nav_item_horizontal {
  color: #c5ff00;
  font-family: 'Lato', sans-serif;
}

.nav_item_horizontal:hover,
.nav_item_horizontal:focus,
.nav_item_horizontal:active {
  color: #c5ff00;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.image_link:hover,
image_link:focus,
image_link:active {
  margin: auto;
  color: #c5ff00;
  font-size: 3.5vw;
  line-height: 1.2em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: 0.4em;
  text-decoration: none;
}

.button-link {
  margin-top: 10%;
  border-radius: 35px !important;
  background-color: #adff00 !important;
  border-color: #adff00 !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 900 !important;
  letter-spacing: 0.2em !important;
}

.article_link {
  color: #c5ff00;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
}

.article_link:hover,
.article_link:focus,
.article_link:active {
  color: #c5ff00;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
}
